<article class="bg-pink-700 w-full h-[240px] text-white flex flex-row justify-between items-center px-[25%] basis-0">
    <div class="flex flex-col gap-2 text-center basis-0">
        <p>+ de</p>
        <p class="text-5xl">50.000</p>
        <p>alumnos</p>
    </div>
    <div class="flex flex-col gap-2 w-auto text-center basis-0">
        <p>+ de</p>
        <p class="text-5xl">450</p>
        <p>Horas de contenido</p>
    </div>
    <div class="flex flex-col gap-2 text-center basis-0">
        <p>+ de</p>
        <p class="text-5xl">70</p>
        <p>Cursos</p>
    </div>
</article>  