---
import BigCard from "./BigCard.astro";
import Card from "./Card.astro"
---

<article class="relative flex flex-col text-center justify-center gap-[80px] my-[500px] top-[450px]">
    <h3 class="text-center text-3xl font-semibold">
        Los cursos mejor valorados	
    </h3>
    <BigCard />
    <section class="grid grid-cols-3 gap-5 m-auto w-[62%]">
        <Card url="Ciencia.jpg" title="Introducción a la Ciencia de Datos" creator="Hernán" type="Desarrollo" duration="50h"/>
        <Card url="HTMLCSS.png" title="Crea páginas Web con HTML y CSS" creator="Paco" type="Desarrollo" duration="30h"/>
        <Card url="Protegerse.jpg" title="Como protegerse en la red" creator="Kike" type="Ciberseguridad" duration="20h"/>
    </section>
</article>