<article class="relative flex flex-col text-center justify-center">
    <h3 class="text-center">
        Los cursos mejor valorados	
    </h3>
    <section>
        <header>
            <h4>
                Aprende a programar con Python
            </h4>
            <p>Nate Gentile</p>
            <span>Youtuber</span>
        </header>
        <p>
            ¿No sabes programar? Mejor, porque en este curso vamos a empezar desde cero. Un curso pensado
            para todas las personas de todas las edades, independientemente de su nivel.
        </p>
        <span></span>
        <div>
            <p>
                Desarrollo
            </p>
            <p>
                12 horas
            </p>
        </div>
    </section>

    <section>
        <img src="Python.jpg" alt="">
    </section>
</article>