---
export interface Props {
    url: string,
    title: string,
    creator: string
}

const {url, title, creator} = Astro.props;
---
<section class="rounded-[3%] bg-[#FF0] h-[300px] overflow-hidden">
    <img src={url} class="w-[100%]">
    <header class="text-center flex flex-col justify-center">
        <h3>{title}</h3>
    </header>
</section>